@page "/Pages/Images"


<h1>Ihor Shashuba nr. 119786</h1>
<h3>Images</h3>




<img src="@imageUrl" alt="image" />
<img src="@imageUrl" alt="image" />
<img src="@imageUrl" alt="image" />
<img src="@imageUrl" alt="image" />
<img src="@imageUrl" alt="image" />
<img src="@imageUrl" alt="image" />

@code {
    private string imageUrl = "https://12.kz/pictures/product/middle/97460_middle.png";
}
